.smart-app-banner {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: Arial, serif;
    box-sizing: border-box;
    z-index: 1000;
}
.smart-app-banner .app-wrapper {
    overflow: hidden;
    padding: 10px 20px 10px 10px;
}
.smart-app-banner a {
    text-decoration: none;
}
.smart-app-banner img,
.smart-app-banner .content {
    float: left;
    margin: 0 5px;
}
.smart-app-banner img {
    margin-left: 30px;
    width: 78px;
    height: 78px;
    border-radius: 20px;
}
.smart-app-banner h2 {
    font-size: 11px;
    margin: 0;
}
.smart-app-banner p {
    font-size: 11px;
    margin: 0;
}
.smart-app-banner.ios {
    background: #f1f1f1;
    border: 1px solid #cecece;
    color: #000;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.smart-app-banner.ios .app-wrapper {
    border: 1px solid #fdfdfd;
}
.smart-app-banner.ios .close {
    width: 10px;
    height: 10px;
    background-image: url(../images/app_close.png);
    background-size: 100% 100%;
    color: #727272;
    float: left;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    text-indent: -9999px;
    cursor: pointer;
    text-decoration: none !important;
}
.smart-app-banner.ios .content {
    text-shadow: 0 0 2px #ffffff;
}
.smart-app-banner.ios .view {
    font-size: 20px;
    color: #0068ff;
    float: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    text-shadow: 0 0 2px #ffffff;
}
.smart-app-banner.ios .rate span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    background-image: url(../images/star.png);
    background-size: 100% 100%;
}
.smart-app-banner.ios .rate span.full {
    background-image: url(../images/star_full.png);
}
.smart-app-banner.ios .rate span.half {
    background-image: url(../images/star_half.png);
}

.smart-app-banner.android .rate span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    background-image: url(../images/star.png);
    background-size: 100% 100%;
}
.smart-app-banner.android .rate span.full {
    background-image: url(../images/star_full.png);
}
.smart-app-banner.android .rate span.half {
    background-image: url(../images/star_half.png);
}

.smart-app-banner.android {
    background: url(../images/smart_app_banner_android_bg.jpg);
    border-top: 3px solid #8eb246;
    border-bottom: 1px solid #eeeeee;
    color: #ced1d1;
}

.smart-app-banner.android .content {
    margin-top: 10px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.8);
}

.smart-app-banner.android .close {
    width: 20px;
    height: 20px;
    color: #ced1d1;
    background: #000000;
    border-radius: 50%;
    border-bottom: 1px solid #ced1d1;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    text-decoration: none !important;
}

.smart-app-banner.android .view {
    background: #3eb0c2;
    font-size: 20px;
    color: #dbd3d2;
    float: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.smart-app-banner.android h2 {
    color: #ffffff;
}